/* body{
    display: flex;
    justify-content: center;
    align-items: center;
} */
.sign-main{
width: 50%;
height: 120vh;
align-items: center;
text-align: center;
font-size: 60px;
}
.title{
    width: 300px;
    display: flex;
   justify-content: center;
   font-size: 25px;
}
.sign-main-con{
    display: flex;
    justify-content: center;
}
.sign-main-form{
    width: 100%;
    padding-left: 200px;
}
