/* .card-main{
    width: 25%;
}
.main-con{
    height: 100vh;
    justify-content: space-around;
    padding-top: 10px;
}
.con{
    width: 100%;
    text-align: center;
    font-weight: 900;
    display: flex;
    flex-wrap: wrap;
} */
.con::-webkit-scrollbar{
    scroll-behavior: unset;
}
/* .card-titles{
    font-size: 100px;
}
.img-width{
    max-height:420px;
    border-radius: 20px;
} */