/* .main-btn{
    justify-content: space-between;
    width: 20%;
}
.subtotal-main{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content:space-evenly;
}
.main-search{
    width: 100%;
    text-align: center;
    font-weight:900;
    display: flex;
    flex-wrap: wrap;
}
.card-main-search{
    width: 25%;
} */
